* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
    background-color: #f2fcff2e;
    font-family: 'Prompt', sans-serif;
}
.navbar-brand {
    font-size: 30px;
    transform: translateX(40px);
}
.navbar-nav {
    justify-content: space-around;
    width: 890px;
}
.dropdown-username {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 50px;
    width: 165px;
    position: relative;
}
.dropdown-username .fa-user {
    position: absolute;
    left: 20px;
    top: 14px;
}
.dropdown-username .fa-angle-down {
    position: absolute;
    right: 19px;
    top: 15px;
}
.Username {
    padding-left: 28px;
}
.button-number {
    background-color: #ffe4f5;
    transform: translateX(50px);
    padding:10px;
    border-radius: 40px;
    color: red;
    width: 162px;
    text-align: center;
}
.nav-link {
    color: black !important;
}
.mt-8 {
    margin-top: 5rem;
}
.sub-title-1 {
    color: blue;
    font-weight: bold;
}
.desp-1 {
    font-weight: 500;
    font-size: 19px;
}
.desp-2 {
    color: #ccc;
}
p {
    margin-bottom: 0.5rem !important;
}
.cashier {
    border: 1px solid white;
    box-shadow: -4px 4px 14px -9px rgba(0,0,0,0.13);
}
.desp-3 {
    font-size: 13px;
}
.desp-3 span {
    font-size: 13px;
}
input[type=checkbox] {
    transform: scale(1.5);
}
.choice-of-money {
    color: red;
}
.credit-card {
    margin: 0 auto;
    display: block;
}
.btn-danger {
    border-radius: 50px;
    padding: 6px 38px;
    margin: auto;
    display: block;
}
.images {
    margin: 0 auto;
    display: block;
    text-align: center;
}
.card-2 {
    height: 420px;
}